<div class="outside-container">
    <mat-card-content>
        <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
           <mat-form-field class="expand-width">
                  <mat-label>First Name</mat-label>
                  <input  
                    matInput 
                    type="text"
                    placeholder="First name"
                    name="firstname"
                    formControlName="firstname"
                    required>
               </mat-form-field>
               <mat-form-field class="expand-width">
                  <mat-label>Last Name</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Last Name"
                    name="lastname"
                    formControlName="lastname"
                    required>
               </mat-form-field>
               <mat-form-field class="expand-width">
                  <mat-label>Password</mat-label>
                  <input  
                    matInput
                    type="password"
                    placeholder="Password"
                    name="password"
                    formControlName="password"
                  >
               </mat-form-field>
               <mat-form-field class="expand-width">
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    type="email"
                    placeholder="Email"
                    name="email"
                    formControlName="email"
                  >
               </mat-form-field>
               <mat-form-field class="expand-width">
                  <mat-label>Phone Number</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Phone Number"
                    name="phoneNumber"
                    formControlName="phoneNumber"
                  >
               </mat-form-field>

              <button 
                class="mat-raised-button"
                color="primary"
                type="submit"
              >
                Sign up
              </button>
        </form>

        <p class="bottom-text">Already have an account? <a routerLink="/signin">Sign In</a></p>
      </mat-card-content>
</div>
