<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="p_nav">
  <a class="navbar-brand" [routerLink]="'/home'">
    <img src="assets/nine_logo.png" />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#blogToggler"
    aria-controls="blogToggler"
    aria-expanded="false"
    aria-label="Toggle navigation"
    [ngClass]="{ collapsed: isOpen }"
    (click)="toggleDropdown()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="blogToggler"
    [ngClass]="{ show: isOpen }"
  >
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <!-- Should be hidden when user is logged in -->
      <ng-container *ngIf="!isAuthenticated(); else notAuthenticated">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link signup banner-right" [routerLink]="'/signup'"
            >Sign Up</a
          >
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link signip banner-right" [routerLink]="'/signin'"
            >Sign In</a
          >
        </li>
      </ng-container>

      <!-- Should be hidden when user is not logged in -->
      <ng-template #notAuthenticated>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link banner-right" [routerLink]="'/social'">Social</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link banner-right" [routerLink]="'/financial'"
            >Financial</a
          >
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link banner-right" [routerLink]="'/iou'">Request IOU</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link banner-right" [routerLink]="'/transfer'"
            >Transfer</a
          >
        </li>

        <li
          class="nav-item"
          routerLinkActive="active"
          *ngIf="isAuthenticated()"
        >
          <a class="nav-link logoff banner-right" (click)="logoutUser()"
            >Logoff</a
          >
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
