<div class="outside-container">
    <mat-card-content>
        <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">

            <mat-form-field class="expand-width">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  type="email"
                  placeholder="Email"
                  name="email"
                  formControlName="email"
                >
            </mat-form-field>

            <mat-form-field class="expand-width">
              <mat-label>Password</mat-label>
              <input  
                matInput
                type="password"
                placeholder="Password"
                name="password"
                formControlName="password"
              >
            </mat-form-field>

            <button 
              class="mat-raised-button"
              color="primary"
              type="submit"
            >
              Sign In
            </button>

        </form>

          <p class="lead .bottom-text">Don't have an account? <a routerLink="/signup">Sign Up</a></p>
    </mat-card-content>
</div>