/* .landing_photo {
  position: absolute;
  padding-left: 30%;
  top: 30%;
  background-position-x: left;
  width: 50vw;
  height: 100vh;
  filter: grayscale(100%);

  background: url('~src/assets/home/landing_face_1.png');
  background-repeat: no-repeat;
}
.country_selector {
  position: absolute;
  align-content: end;
}
.country_selector {
  alignment: center;
  position: absolute;
  padding-left: 50%;
  padding-top: 20%;
} */

.mat-card {
  max-width: 400px;
  min-width: 300px;
}

.main_content {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
