#p1,#p2,#p3,#p4,#p5,#p6,#p7,#p8,#p9,#p10{
  /* display: none;*/
  min-height: 5vh;
}
#p1{
  opacity: 100%;
  text-decoration: #eeeeee;
}
h2 {
  font-size: 2.5rem;
  color: #eeeeee;
}

p {
  font-size: 1.3rem;
  color: #393e46;
}



.panel_1 {
  background-color: #000000;
  /* min-height: 100vh; */

}

.panel_1{

  padding: 1.7rem;
}

.panel_2 {

}

.panel_1 {
  width: 100%;
  height: 40rem;
}
.mat-card-title{
  font-weight: bold;
  size: 96px;
}
