<!-- <body id="home_main">
  <div class="landing_photo "></div>
  <div class="country_selector">
    <h1>SEND MONEY TO</h1>
    <img src="assets/home/country_icon.png" />
    <div><h2>Pick Country</h2></div>
    <button mat-button><</button>
    <button mat-button>></button>
  </div>
</body> -->
<div class="main_content">
  <mat-card>
    <img src="/assets/home/main.png" />
    <mat-card-content>
      <p>
        Money is everywhere and yet we know very little about it. 9 is here to
        provide tools and materials for you. Use them wisely and don’t forget to
        share....
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Learn More</button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="main_button">
  <button mat-button class="tap_to_join" (click)="signUP()">Tap to Join</button>
</div>
<app-email-form></app-email-form>
