#p1,#p2,#p3,#p4,#p5,#p6,#p7,#p8,#p9,#p10{
 /* display: none;*/
}
h2 {
    font-size: 2.5rem;
    color: #eeeeee;
}

p {
    font-size: 1.3rem;
    color: #393e46;
}
.logo{
  /* Rectangle */

  position: inherit;
  width: 100%;

}


.panel_1 {
    background-color: #1a1a1a;
    /* min-height: 100vh; */

}

.panel_1{
    min-height: 100vh;
    padding: 1.7rem;
}

.panel_2 {

    min-height: 100vh;
}

 .panel_1 {
    width: 100%;
    height: 40rem;
}

