<section class="panel_1"  id="p0">
  <mat-card>
    <div class ="panel" >
      <div id="valign-wrapper">
      <mat-card-title>Nine</mat-card-title>
      </div>
    </div>
  </mat-card>
</section>
<section class="panel_2" id="p1">

    <mat-card>
      <div class="panel">
        <mat-card-title>Cause making payments
          should be as simple as Black and White</mat-card-title>
      </div>

    </mat-card>

  
</section>
<section class="panel_1" id="p2">
  <div class="right">
    <mat-card>
      <div class="panel">
        <mat-card-title>But why us, and why now?</mat-card-title>
      </div>
    </mat-card>
  </div>

</section>
<section class="panel_2" id="p3">
  <div class="left">
    <mat-card>
      <div class="panel">
        <mat-card-title>The Problem:</mat-card-title>
      </div>
      <mat-card-content>

          <div class = "bullet">
            In Nigeria there has been a major leap forward in recent years in terms of mobile
            Connectivity. This has lead to a rise in Social Media and Networking popularity.
          </div>
          <div class="bullet">
            However in the Era of Crypto and BlockChain Tech there has been demand for
            a new type of Payment Platform. A mobile System that Allows Users to Transfer
            and Lend Money Seamlessy. In addition this platform would also work as a
            checkout option for individuals and groups.
          </div>
          <div class = "bullet">
            This Platform is Nine and its Three core functionalities would provide features
            that would help Usher in a New World of Oppurtunities for Businesses and Young
            Entrepeneurs.
          </div>


      </mat-card-content>
    </mat-card>
  </div>

</section>

<section class="panel_1" id="p4">
  <div class="right">
    <mat-card>
      <div class="panel">
        <mat-card-title>Our Solution:</mat-card-title>
        <mat-card-content>This Platform is Nine and its Three core functionalities would provide features
          that would help Usher in a New World of Oppurtunities for Businesses and Young
          Entrepeneurs.</mat-card-content>
      </div>
    </mat-card>
  </div>

</section>
<section class="panel_1" id="p5">
  <div class="right">
    <mat-card>
      <div class="panel">
        <mat-card-title>The Application</mat-card-title>
      </div>
    </mat-card>
  </div>

</section>
<section class="panel_2" id="p6">
  <mat-card>
    <div class="panel">
      <mat-card-title>Transfers</mat-card-title>
      <div class="panel-value">
        <mat-card-content>
          With Nine Transfer, Users can make instant payments to local Users in a Nine
          Supported Region.  Users will be able to get instant transactions at low rates
          with encrypted technology to prevent third party interference.
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</section>
<section class="panel_1" id="p7">

  <mat-card>
    <div class="panel">
      <mat-card-title>IOU Option</mat-card-title>
    </div>

    <mat-card-content>
      The Nine.IOU is the Next Generation way of Lending Money.  “The goal is to provide a new  credit system that incentivezes lenders and promotes borrowing”.
      Users create there own conditions that meet our minimized guidelines.  The goal is then to promote a Mobilized Open and Engaged Market in Western Africa and
      around the World.
    </mat-card-content>
  </mat-card>

</section>
<section class="panel_2" id="p8">
  <mat-card>
    <div class="panel">
      <mat-card-title>Gateway Integration</mat-card-title>
      <div class="panel-value">
        <mat-card-content>

          Nine Gateway is reliant on an Association with our Supported Platforms but this
          would allow checkout options on your favorite sites with our Gateway Home.
          Our Targeted platforms would be Amazon,  Shopify, and Googles Cloud Platform.


        </mat-card-content>
      </div>
      <div class="panel-images">

      </div>
    </div>
  </mat-card>
</section>
<section class="panel_2" id="p10">
  <mat-card>
    <div class="panel">
      <mat-card-title>Team</mat-card-title>
    </div>
    <mat-card-content>
      <div class="panel-value">
        Founders
      </div>
      <div class="flex-wrap">

      <mat-card>
      <div class="bullet">
        <div class = "bullet-title">
          Dolapo Olaniawo
        </div>
        <div class = "bullet-value">
          CEO & Co-Founder
        </div>
        <div class="bullet-program">
          3rd year Electrical Engineering
        </div>
        <div class="references">
          <div class ="ref0">
            University of Ottawa
          </div>
        </div>
      </div>
      </mat-card>
      <mat-card>
      <div class="bullet">
        <div class = "bullet-title">
          Ola Olukiyesi
        </div>
        <div class = "bullet-value">
          CTO & Co-Founder
        </div>
        <div class="bullet-program">
          3rd year Computer Engineering
        </div>
        <div class="references">
          <div class ="ref0">
            University of Ottawa
          </div>
          <div class ="ref1">
            Step Networks
          </div>
          <div class ="ref2">
            OpenText
          </div>
        </div>

      </div>
      </mat-card>
      <mat-card>
      <div class="bullet">
        <div class = "bullet-title">
          Temitayo Oyelowo
        </div>
        <div class = "bullet-value">
          COO & Co-Founder
        </div>
        <div class="bullet-program">
          3rd year Software Engineering
        </div>
        <div class="references">
          <div class ="ref0">
            Carelton University
          </div>
          <div class ="ref1">
            IBM
          </div>
        </div>

      </div>
      </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</section>
<section class="panel_1" id="p11">

  <mat-card>
    <div class="panel">
      <mat-card-title> Interested in More? </mat-card-title>
    </div>
    <mat-card-content>
      <div class="panel-value">
        Subscribe to Our E-mail list
      </div>
      <input
        type="email"
        name="firstname"
        formControlName="firstname"
        class="form-control"
      />
    </mat-card-content>
  </mat-card>

</section>
