<section class="panel_1" id="p0">
    <!-- <div class="left">
        <img src="../../assets/nine-static.jpg" alt="cool-computer">
    </div> -->
    <div class="left">

        <mat-card>
          <div class ="panel" >
            <mat-card-title>Nine</mat-card-title>


          </div>
        </mat-card>
    </div>
</section>
<section class="panel_2" id="p1">
  <div class="left">
    <mat-card>
      <div class="panel">
        <mat-card-title>Cause making payments
          should be as simple as Black and White</mat-card-title>
      </div>
      <mat-card-content>
        <div class ="bullet">
          <div class = "bullet-title">
            Easily Transfer Funds
          </div>
          <div class = "bullet-value">
            Transfer funds from the comfort of phone or laptop
          </div>
        </div>
        <div class ="bullet">
          <div class = "bullet-title">
            Get Low Rate
          </div>
          <div class = "bullet-value"> Using and interchange plus pricing model for lowest rates</div>
        </div>
        <div class ="bullet">
          <div class = "bullet-title">
            Develop Financial Culture:
          </div>
          <div class = "bullet-value">
            Through Chat Room and IOU feature
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  
</section>
<section class="panel_1" id="p2">
  <div class="right">
    <mat-card>
      <div class="panel">
        <mat-card-title>But why us, and why now?</mat-card-title>
      </div>
    </mat-card>
  </div>

</section>
<section class="panel_2" id="p3">
  <div class="left">
    <mat-card>
      <div class="panel">
        <mat-card-title>The Problem:</mat-card-title>
      </div>
      <mat-card-content>

        <div class ="bullet">
          <div class = "bullet-title">
            In Nigeria there has been a major leap forward in recent years in terms of mobile
            Connectivity. This has lead to a rise in Social Media and Networking popularity.
          </div>
          <div class="bullet-value-formatted">
            However in the Era of Crypto and BlockChain Tech there has been demand for
            a new type of Payment Platform. A mobile System that Allows Users to Transfer
            and Lend Money Seamlessy. In addition this platform would also work as a
            checkout option for individuals and groups.
          </div>
          <div class = "bullet-value">
            This Platform is Nine and its Three core functionalities would provide features
            that would help Usher in a New World of Oppurtunities for Businesses and Young
            Entrepeneurs.
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

</section>
<section class="panel_1" id="p4">
  <div class="right">
    <mat-card>
      <div class="panel">
        <mat-card-title>The Application</mat-card-title>
      </div>
    </mat-card>
  </div>

</section>
<section class="panel_2" id="p5">
  <mat-card>
    <div class="panel">
      <mat-card-title>Transfers</mat-card-title>
      <div class="panel-value">
        <mat-card-content>
          Our Solution
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</section>
<section class="panel_1" id="p6">
  <div class="right">
    <mat-card>
      <div class="panel">
        <mat-card-title>IOU Option</mat-card-title>
      </div>

      <mat-card-content>
        <div class="panel-value">
          We charge a % for all Nine Services
        </div>
        <div class ="bullet">
          <div class = "bullet-title">
            Financial/Remittance services
          </div>
          <div class = "bullet-value">
            15% of Available Market - 3 % + $ 0.20
          </div>
        </div>
        <div class ="bullet">
          <div class = "bullet-title">
            IOU transactions
          </div>
          <div class = "bullet-value">
            Borrowing and lending - $0.99 (one time flat fee)g
          </div>
        </div>
        <div class ="bullet">
          <div class = "bullet-title">
            Financial/Remittance services
          </div>
          <div class = "bullet-value">
            15% of Available Market - 3 % + $ 0.20
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</section>
<section class="panel_2" id="p7">
  <mat-card>
    <div class="panel">
      <mat-card-title>Gateway Integration</mat-card-title>
      <div class="panel-value">
        <mat-card-content>

          <div class ="bullet">
            <div class = "bullet-title">
              Nine Gateway is reliant on an Association with our Supported Platforms but this
              would allow checkout options on your favorite sites with our Gateway Home.
              Our Targeted platforms would be Amazon,  Shopify, and Googles Cloud Platform.
            </div>

          </div>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</section>
<section class="panel_2" id="p9">
  <mat-card>
    <div class="panel">
      <mat-card-title>Team</mat-card-title>
    </div>
    <mat-card-content>
      <div class="panel-value">
        Founders
      </div>

      <mat-card>
      <div class="bullet">
        <div class = "bullet-title">
          Dolapo Olaniawo
        </div>
        <div class = "bullet-value">
          CEO & Co-Founder
        </div>
        <div class="bullet-program">
          3rd year Electrical Engineering
        </div>
        <div class="references">
          <div class ="ref0">
            University of Ottawa
          </div>
        </div>

      </div>
      </mat-card>
      <mat-card>
      <div class="bullet">
        <div class = "bullet-title">
          Daniel Olukiyesi
        </div>
        <div class = "bullet-value">
          CTO & Co-Founder
        </div>
        <div class="bullet-program">
          3rd year Computer Engineering
        </div>
        <div class="references">
          <div class ="ref0">
            University of Ottawa
          </div>
          <div class ="ref1">
            Step Networks
          </div>
          <div class ="ref2">
            OpenText
          </div>
        </div>

      </div>
      </mat-card>
      <mat-card>
      <div class="bullet">
        <div class = "bullet-title">
          Temitayo Oyelowo
        </div>
        <div class = "bullet-value">
          COO & Co-Founder
        </div>
        <div class="bullet-program">
          3rd year Software Engineering
        </div>
        <div class="references">
          <div class ="ref0">
            Carelton University
          </div>
          <div class ="ref1">
            IBM
          </div>
        </div>

      </div>
      </mat-card>
    </mat-card-content>
  </mat-card>
</section>
<section class="panel_1" id="p10">
  <div class="right">
    <mat-card>
      <div class="panel">
        <mat-card-title> Interested in More? </mat-card-title>
      </div>
      <mat-card-content>
        <div class="panel-value">
          Subscribe to Our E-mail list
        </div>
        <input
          type="email"
          name="firstname"
          formControlName="firstname"
          class="form-control"
        />
      </mat-card-content>
    </mat-card>
  </div>

</section>
